
<div class='services-container text-center'>
<h2 class='text-center'>Games</h2>
  {{#each project in model}}
    <div>
      <ul>
        {{link-to project.name 'projects.show' project tagName="li" class='project-icons'}}
      </ul>
     </div>
  {{/each}}
</div>
