<div class='service-container'>
  <h1>{{model.name}}</h1>
  <img src="http://vignette1.wikia.nocookie.net/mario/images/1/15/MarioNSMB2.png/revision/latest?cb=20120816162009" class='image'>
  <p>{{model.description}}</p>
  {{#each characters}}
  <li>{{name}}</li>
  {{/each}}
</div>
